@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Header */
  --admin-header-height: var(--admin-header-height);
  --admin-header-height-mobile: var(--admin-header-height-mobile);

  /* Colors (global) */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-heading: var(--heading);

  /* Fonts */
  --font-sans: var(--font-inter);
  --font-mono: var(--font-montserrat);

  /* Sidebar */
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  /* Charts */
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);

  /* Inputs */
  --color-input: var(--input);
  --color-input-active: var(--input-active);
  --color-input-border: var(--input-border);
  --color-input-danger: var(--input-danger);
  --color-input-placeholder: var(--input-placeholder);
  --color-input-foreground: var(--input-foreground);

  /* Borders & Ring */
  --color-border: var(--border);
  --color-ring: var(--ring);

  /* Primary */
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  /* Secondary */
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);

  /* Outline */
  --color-outline: var(--outline);
  --color-outline-foreground: var(--outline-foreground);

  /*Fab*/
  --color-fab: var(--fab);
  --color-fab-foreground: var(--fab-foreground);

  /* Popover / Card / Menu */
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  /* Accent / Muted */
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);

  /* Success */
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-success-border: var(--success-border);

  /* Danger */
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive-border: var(--destructive-border);

  /* Radius */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Shadows */
  --shadow: var(--shadow);
  --shadow-fab: var(--shadow-fab);
}

:root {
  /* Header */
  --admin-header-height: 6.25rem; /* 100px */
  --admin-header-height-mobile: 3.75rem; /* 60px */

  /* Colors (global) */
  --background: #f5f5f5;
  --foreground: #364153;
  --heading: #1a3d64;

  /* Sidebar */
  --sidebar-ring: #3b82f6;
  --sidebar-border: #e6e6e6;
  --sidebar-accent-foreground: #083fb3;
  --sidebar-accent: #eaf4ff;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-primary: #1a3d64;
  --sidebar-foreground: #364153;
  --sidebar: #f5f5f5;

  /* Charts */
  --chart-5: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-1: oklch(0.646 0.222 41.116);

  /* Inputs */
  --input: #ffffff;
  --input-active: #153150;
  --input-border: #808080;
  --input-danger: #fff3f6;
  --input-placeholder: #545454;
  --input-foreground: #2d2d2d;

  /* Borders & Ring */
  --border: #e6e6e6;
  --ring: hsl(217.2 91.2% 59.8%);

  /* Primary */
  --primary-foreground: #ffffff;
  --primary: #083fb3;
  --primary-hover: #062f84;

  /* Secondary */
  --secondary-foreground: #ffffff;
  --secondary: #1a3d64;
  --secondary-hover: #112841;

  /* Outline */
  --outline: #f2f2f2;
  --outline-foreground: #1a3d64;

  /* Fab */
  --fab: #c6e1fc;
  --fab-foreground: #083fb3;

  /* Popover / Card / Menu */
  --popover-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --card-foreground: #4a5565;
  --card: #ffffff;

  /* Accent / Muted */
  --accent-foreground: #364153;
  --accent: #e2e2e2;
  --muted-foreground: #4a5565;
  --muted: #e8ecf0;

  /* Success */
  --success: #e6f8f3;
  --success-foreground: #008a68;
  --success-border: #b0e9db;

  /* Danger */
  --destructive: #fff3f6;
  --destructive-foreground: #f8222d;
  --destructive-border: #f8222d;

  /* Radius */
  --radius: 0.625rem;

  /* Shadows */
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow-fab: 0 4px 8px 3px rgba(0, 0, 0, 0.15),
    0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
